<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alimotie.gentein">
<uses-permission android:name="android.permission.INTERNET"/>




    <application
        android:allowBackup="true"
        android:icon="@drawable/asset1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/asset1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen"
            android:theme="@style/asda">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".output_genrated" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>